<!DOCTYPE html>
<html lang="en" ng-app='myapp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.box{
			width: 500px;
			height: 300px;
			background: yellow;
			padding-left: 10px;
		}
	</style>
</head>
<body>
	<div class="box" ng-controller='MCtro'>
		<h1>文本编辑</h1>
		<div>
			<textarea name="" id="" cols="50" rows="10" ng-model='txt'></textarea>
		</div>
		<button ng-click='save()'>保存</button>
		<button ng-click='clear()'>删除</button>
		<p ng-bind='leftCount()'></p>
	</div>
	<script src="angular.min.js"></script>
	<script>
		var app=angular.module('myapp',[]);
			app.controller('MCtro',function($scope){
				$scope.sum=50;
				$scope.txt='';
				$scope.leftCount=function(){
					return $scope.sum-$scope.txt.length
				}
				$scope.clear=function(){
					$scope.txt='';
				}
				$scope.save=function(){
					localStorage.setItem('data',$scope.txt)
				}
			})
	</script>
</body>
</html>