<!DOCTYPE html>
<html lang="en" ng-app="mapp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div my-directive></div>
	<div  class="content" ng-bind='word'></div>
	<script src="angular.min.js"></script>
	<script>
		var app=angular.module("mapp",[]);
		app.directive('myDirective',function(){
	        return {
	            restrict:'AEC',
	            template:'<div class="btn"><button ng-click="tab(0)">篮球</button><button ng-click="tab(1)">足球</button><button ng-click="tab(2)">排球</button></div>',
//	            replace:false,
	            controller:function($scope){
	            	$scope.data={
	            		"0":"篮球篮球篮球",
	            		"1":"足球足球足球",
	            		"2":"排球排球排球"
	            	};
	                $scope.tab=function(data){
	                    $scope.word=$scope.data[data];
	                }
	            }
	        }
	    });
//	    app.controller('tab',function($scope){
//	    })
	</script>
</body>
</html>