<div class="food-info-cate">
    <dl ng-repeat="i in data">
        <dt><img src="images/1.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
    <dl ng-repeat="i in data">
        <dt><img src="images/2.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
</div>
<div class="food-info-cate">
    <dl ng-repeat="i in data">
        <dt><img src="images/3.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
    <dl ng-repeat="i in data">
        <dt><img src="images/4.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
</div>
<div class="food-info-cate">
    <dl ng-repeat="i in data">
        <dt><img src="images/1.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
    <dl ng-repeat="i in data">
        <dt><img src="images/2.jpg" alt="images/a.jpg"/></dt>
        <dd>韩国普执行</dd>
    </dl>
</div>